@import "tailwindcss";

@plugin "daisyui" {
  theme: light dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-primary: #5170ff;        
  --color-primary-content: #fefefeff;

  --color-base-100: #0d0d0f;           
  --color-base-200: #141416;
  --color-base-300: #1e1e20;
  --color-base-content: #ffffff;

  --color-secondary: #101736ff;            
  --color-accent: #5170ff;        

  --rounded-box: 0.75rem;
  --rounded-btn: 0.5rem;
}

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #5170ff;
  --color-primary-content: #060606ff;

  --color-base-100: #fafafa;
  --color-base-200: #eaeaea;
  --color-base-300: #d4d4d4;
  --color-base-content: #0d0d0f;

  --color-secondary: #101736ff;
  --color-accent: #5170ff;
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Momo Trust Display", sans-serif;
}